body {
    background-color:darkseagreen;
}
.name {
    color:rgb(55, 64, 163);
}

.univ {
    color:rgb(55, 64, 163);
}

h1 {
    color:aqua;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    color: aqua;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a {
    color: rgb(206, 130, 30);
}

p {
    font-size: large;
    color: antiquewhite;
}

li {
    font-size: 20px;
    color: antiquewhite;
}

.link {
    color:rgb(55, 64, 163);
}